nav {
    height: 1rem;
    margin: auto 1rem 0 auto;
}

nav a {
    padding: 0 !important;
}

.committee {
    min-width: 20rem;
    max-width: 25rem;
    height: 12rem;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: .4rem auto;
    border: solid 1px var(--accent);
    background: linear-gradient(to right, var(--accent) 65%, transparent 65%);
    background-size: 300% 100%;
    background-position:right bottom;
	transition:all .5s ease-in;
    cursor: pointer;
}

.committee:hover {
    background-position: left bottom;
}

.committee h2 {
    font-size: 2rem;
    margin: 5% auto auto auto;
}

.committee h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: auto;
    width: 80%;
}

.committee p {
    text-align: center;
    font-size: .8rem;
}

.committee-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: auto;
}