/* PEORIA 04.01.2020 */
/* Diego Palmerin Bonada */

/* Global Variables */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext');

:root {
	/* Colors */
	--background: #ffffff;
	--mid-white: #EEEEEE;
	--mid-gray: #C4C4C4;
	--grayed-out: #979797;
	--dark-blue: #1E2D45;
	--font: #121212;
	--blue: #41607F;
	--blue-secondary: #566385;
	--blue-third: #6A7285;
	--orange: #F9825C;
	--orange-secondary: #FAAF96;
	--orange-third: #FAD4C8;
	--red: #F26680;
	--red-secondary: #E3949B;
	--red-third: #E3B6B9;
	--yellow: #F2DC6D;
	--yellow-secondary: #F2E49D;
	--yellow-third: #F2EAC2;
	--green: #728C73;
	--green-secondary: #7E9481;
	--green-third: #859487;

	/* fonts */
	--font-face: 'Roboto', Arial, Helvetica, sans-serif;

	/* Grid Values */
	--gutter: 30px;
	--half-gutter: calc(var(--gutter) / 2);
	--col: 65px;
	--half-col: calc(var(--col) / 2);
	--inner-grid-width: calc(var(--col)*14 + var(--gutter)*13);
	--side-margin: calc((100vw - var(--inner-grid-width)) / 2);
	--top-margin: calc(var(--col) * 2);
}

/*
FONT STYLES
*/

.super-title,
.super-secondary-title,
.main-title,
.body-text,
.secondary-title,
.secondary-body,
.links,
.button-text,
.small-body,
h1,
h2,
h3,
h4,
p,
b {
	font-family: var(--font-face);
	color: var(--font);
	font-style: normal;
}

.super-title,
h1 {
	display: inline;
	font-weight: 500;
	font-size: 72px;
	line-height: 85px;
	letter-spacing: 5%;
}

.super-secondary-title,
h2 {
	font-weight: 400;
	font-size: 24px;
	line-height: 48px;
	letter-spacing: 0%;
}

.main-title,
h3 {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
}

.body-text,
p {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--blue-secondary);
}

.secondary-title,
h4 {
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
}

.secondary-body {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--blue-third);
}

.small-body {
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
}

.links {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
}

.button-text {
	font-family: Roboto;
	font-weight: 500;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 5%;
	color: var(--background);
}

b {
	color: var(--font);
}

.bold {
	font-weight: bold;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

/* Start of Style Sheet */

* {
	margin: 0;
}

html {
	overflow: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	height: 100vh;
}

body {
	background-color: var(--background);
	color: var(--font);
	font-family: var(--font-face);
}

a, a:visited {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: var(--blue);
}

footer div a, footer div a:visited {
	color: var(--background);
}

input {
	height: var(--gutter);
	border: none;
	border-bottom: 1px var(--mid-gray) solid;
	margin: 0 0 var(--gutter) 0;
}

select {
	height: var(--gutter);
	width: 100%;
	border: none;
	border-bottom: 1px var(--mid-gray) solid;
	margin-bottom: var(--gutter);
}

.special-input {
	height: calc(var(--gutter) + 2 * var(--col));
	width: 98%;
	resize: none;
	padding: 2px;
	border: none;
	border-bottom: 1px var(--mid-gray) solid;
}

input:focus,
.special-input:focus {
	outline: none;
	border-bottom: 1px var(--blue) solid;
}

header {
	z-index: 2;
	position: fixed !important;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: var(--gutter) 0;

}

header img {
	margin-left: calc(50vw - var(--inner-grid-width)/2);
	height: var(--gutter);
}

footer {
	background-color: var(--dark-blue);
	height: 215px;
	width: 100%;
}

footer img {
	width: calc(var(--inner-grid-width) / 4);
	margin: var(--gutter) calc(var(--side-margin) + (var(--inner-grid-width) * 0.37));
	margin-bottom: 0;
}

/* Selection */

::-moz-selection {
	background: var(--background);
	color: var(--font);
}

::selection {
	background-color: var(--yellow-third);
}

/* Scrollbar */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

/* Classes */

.content {
	position: relative;
	width: var(--inner-grid-width);
	padding: var(--top-margin) var(--side-margin);
}

.content-width {
	width: var(--inner-grid-width);
	padding: 95px var(--side-margin);
}

.division-line {
	width: 80%;
	margin: calc(var(--gutter) / 2) auto;
	background-color: var(--mid-gray);
	height: 2px;
}

.committee .division-line {
	margin: 10px auto;
	height: 2px;
}

.committee {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 125px;
	width: 160px;
	margin: var(--half-gutter);
	border-radius: 5px;
	padding: var(--half-gutter) var(--half-col);
}

.width-90 {
	width: 90%;
	margin: auto;
}

.block {
	display: block;
}

.line {
	background: var(--font);
	width: 30px;
	height: 1px;
	margin: 4px 0;
	transition: ease .6s all;
}

.second-line {
	width: 20px;
}

.hamburger {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 3px;
	right: var(--side-margin);
	z-index: 2;
	background: rgba(255,255,255,.01)
}

.hamburger:hover .line {
	background: var(--mid-gray);
}

.hamburger.active:hover .line {
	background: var(--red);
}

.hamburger.active .line {
	position: absolute;
	background-color: var(--background);
	top: calc(var(--gutter) - 20px);
	right: 0;
	transform: rotate(45deg);
	height: 1px;
}

.hamburger.active .second-line {
	transform: rotate(-45deg);
	width: 30px;
}

.nav-links.open {
	display: block;
	background: var(--blue-secondary);
	z-index: 1;
}

.nav-links {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	display: none;
	flex-direction: column;
	padding-inline-start: 0;
	transition: all .2s ease-in;
}

.nav-links li {
	width: 100%;
	height: var(--gutter);
	margin: var(--col) 0;
	list-style: none;
	text-align: center;
}

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.two-thirds-vertical {
	top: 66.66%;
	transform: translateY(-50%);
}

.bottom-center {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
}

.bottom-right {
	position: absolute;
	right: calc(var(--side-margin) / 2);
	bottom: 5%;
}

.top-right {
	position: absolute;
	right: calc(var(--side-margin) / 2);
	top: 10%;
}

.navButton {
	animation: grow 10s linear infinite;
}

.social-icons {
	bottom: 11%;
}

.social-icons a {
	margin: 0 auto;
}

.header-link {
	text-decoration: none;
	display: block;
	color: var(--background);
}

.header-link:hover {
	color: var(--background);
}

.header-link:focus {
	background: transparent;
	border: solid 1px var(--blue);
}

.selected a,
.selected:hover {
	background: var(--blue) !important;
	color: var(--background) !important;
}

.separator {
	margin-bottom: var(--col);
}

.small-separator {
	margin-bottom: var(--gutter);
}

.top-align {
	align-items: flex-start;
}

.text-primary {
	color: var(--blue2);
	margin: 0;
}

.row {
	display: flex;
	flex-direction: row;
	width: var(--inner-grid-width);
	margin: auto;
}

.row-force {
	display: flex;
	flex-direction: row !important;
}

.col {
	display: flex;
	flex-direction: column;
	width: var(--col);
}

.full-width {
	width: var(--inner-grid-width);
}

.half-width {
	width: calc((var(--inner-grid-width) / 2) - var(--gutter));
}

.third-width {
	width: calc((var(--inner-grid-width) / 3) - var(--gutter));
}

.fourth-width {
	width: calc((var(--inner-grid-width) / 4) - var(--gutter));
}

.fifth-width {
	width: calc((var(--inner-grid-width) / 5) - var(--gutter));
}

.col-1 {
	width: var(--col) !important;
}

.col-2 {
	width: calc((2 * var(--col)) + var(--gutter)) !important;
}

.col-3 {
	width: calc((3 * var(--col)) + (var(--gutter) * 2)) !important;
}

.col-4 {
	width: calc((4 * var(--col)) + (var(--gutter) * 3)) !important;
}

.col-5 {
	width: calc((5 * var(--col)) + (var(--gutter) * 4)) !important;
}

.col-6 {
	width: calc((6 * var(--col)) + (var(--gutter) * 5)) !important;
}

.col-7 {
	width: calc((7 * var(--col)) + (var(--gutter) * 6)) !important;
}

.col-8 {
	width: calc((8 * var(--col)) + (var(--gutter) * 7)) !important;
}

.col-9 {
	width: calc((9 * var(--col)) + (var(--gutter) * 8)) !important;
}

.col-10 {
	width: calc((10 * var(--col)) + (var(--gutter) * 9)) !important;
}

.col-11 {
	width: calc((11 * var(--col)) + (var(--gutter) * 10)) !important;
}

.col-12 {
	width: calc((12 * var(--col)) + (var(--gutter) * 11)) !important;
}

.full-width-percent {
	width: 100%;
}

.half-width-percent {
	width: 50%;
}

.third-width-percent {
	width: 33.33%;
}

.fourth-width-percent {
	width: 25%;
}

.fifth-width.percent {
	width: 20%;
}

.full-height-percent {
	height: 100%;
}

.half-height-percent {
	height: 50%;
}

.image-cover {
	object-fit: cover;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	justify-items: center;
	margin: auto; }

.flex-item {
	flex: auto;
}

.margin-none {
	margin: 0;
}

.margin-auto {
	margin: auto;
}

.margin-auto-sides {
	margin: 0 auto;
}

.margin-auto-left {
	margin-left: auto;
}

.center-text {
	text-align: center;
}

.absolute-centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.hero-title {
	position: absolute;
	display: flex;
	flex-flow: column wrap;
	width: 445px;
	height: 326px;
	top: 50%;
	right: calc(var(--side-margin) + var(--col));
	transform: translateY(-50%);
}

.side-margin {
	margin: 0 var(--side-margin);
}

.side-margin-left {
	margin-left: var(--side-margin);
}

.side-margin-right {
	margin-right: var(--side-margin);
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.card {
	width: calc((((var(--inner-grid-width) + var(--gutter)) / 6) * 4) - var(--gutter));
	padding: var(--col) calc(var(--gutter) + var(--col));
	background: var(--background);
	box-shadow: 2px 5px 10px #0000002b;
}

.top-margin {
	margin-top: var(--top-margin);
}

.gutter-height {
	height: var(--gutter);
}

.half-gutter-height {
	height: var(--half-gutter);
}

.gutter-width {
	width: var(--gutter);
}

.col-height {
	height: var(--col);
}

.margin-none 								{ margin: 0; }
.margin-auto 								{ margin: auto; }
.margin-auto-sides 					{ margin-left: auto;
															margin-right: auto; }
.margin-auto-vertical				{ margin-top: auto;
															margin-bottom: auto; }
.col-margin 								{ margin: var(--col); }
.col-margin-left 						{ margin-left: var(--col); }
.col-margin-right 					{ margin-right: var(--col); }
.col-margin-bottom 					{ margin-bottom: var(--col); }
.col-margin-top 						{ margin-top: var(--col); }
.col-margin-vertical 				{ margin-top: var(--col);
															margin-bottom: var(--col); }
.half-col-margin 						{ margin: var(--half-col); }
.half-col-margin-left 			{ margin-left: var(--half-col); }
.half-col-margin-right 			{ margin-right: var(--half-col); }
.half-col-margin-bottom 		{ margin-bottom: var(--half-col); }
.half-col-margin-top 				{ margin-top: var(--half-col); }
.half-col-margin-vertical 	{ margin-top: var(--half-col);
															margin-bottom: var(--half-col); }
.gutter-margin 							{ margin: var(--gutter); }
.gutter-margin-left 				{ margin-left: var(--gutter); }
.gutter-margin-right 				{ margin-right: var(--gutter); }
.gutter-margin-bottom 			{ margin-bottom: var(--gutter); }
.gutter-margin-top 					{ margin-top: var(--gutter); }
.gutter-margin-vertical			{ margin-top: var(--gutter);
															margin-bottom: var(--gutter); }
.half-gutter-margin 				{ margin: var(--half-gutter); }
.half-gutter-margin-left 		{ margin-left: var(--half-gutter); }
.half-gutter-margin-right 	{ margin-right: var(--half-gutter); }
.half-gutter-margin-bottom 	{ margin-bottom: var(--half-gutter); }
.half-gutter-margin-top 		{ margin-top: var(--half-gutter); }
.half-gutter-margin-vertical{ margin-top: var(--half-gutter);
															margin-bottom: var(--half-gutter); }
.half-screen-margin-bottom 	{ margin-bottom: 50vh; }
.half-screen-margin-top 		{ margin-top: 50vh; }

.fullscreen {
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
}

.half-screen {
	position: relative;
	top: 0;
	width: 100%;
	height: 50vh;
}

.button,
button {
	cursor: pointer;
	width: 218px;
	height: 30px;
	text-align: center;
	background-color: var(--dark-blue);
	border-radius: 3px;
	border: none;
}

.rounded {
	border-radius: 3px;
}

.back {
	z-index: -1;
}

.back-2 {
	z-index: -2;
}

.front {
	z-index: 1;
}

.front-2 {
	z-index: 2;
}

.inset-boxshadow-dark-blue {
	-webkit-box-shadow: var(--gutter) calc(var(--gutter) * -1) 0 0 var(--dark-blue);
	-moz-box-shadow: var(--gutter) calc(var(--gutter) * -1) 0 0 var(--dark-blue);
	box-shadow: var(--gutter) calc(var(--gutter) * -1) 0 0 var(--dark-blue);
}

.absolute-right {
	position: absolute;
	right: 0;
}

.absolute-right-grid {
	position: absolute;
	right: var(--side-margin);
}

.absolute-left {
	position: absolute;
	left: 0;
}

.absolute-left-grid {
	position: absolute;
	left: var(--side-margin);
}

.right {
	margin-left: auto;
}

.left {
	margin-right: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

.white 														{ color: var(--background); }
.white-bg 												{ background: var(--background); }
.mid-white 												{ color: var(--mid-white); }
.mid-white-bg 										{ background: var(--mid-white); }
.mid-gray 												{ color: var(--mid-gray); }
.mid-gray-bg 											{ background: var(--mid-gray); }
.grayed-out 											{ color: var(--grayed-out); }
.grayed-out-bg 										{ background: var(--grayed-out); }
.dark-blue 												{ color: var(--dark-blue); }
.dark-blue-bg 										{ background: var(--dark-blue); }
.black 														{ color: var(--font); }
.black-bg 												{ background: var(--font); }
.blue 														{ color: var(--blue); }
.blue-bg 													{ background: var(--blue); }
.blue-secondary 									{ color: var(--blue-secondary); }
.blue-secondary-bg 								{ background: var(--blue-secondary); }
.blue-third 											{ color: var(--blue-third); }
.blue-third-bg 										{ background: var(--blue-third); }
.orange 													{ color: var(--orange); }
.orange-bg 												{ background: var(--orange); }
.orange-secondary 								{ color: var(--orange-secondary); }
.orange-secondary-bg 							{ background: var(--orange-secondary); }
.orange-third 										{ color: var(--orange-third); }
.orange-third-bg 									{ background: var(--orange-third); }
.red 															{ color: var(--red); }
.red-bg 													{ background: var(--red); }
.red-secondary 										{ color: var(--red-secondary); }
.red-secondary-bg 								{ background: var(--red-secondary); }
.red-third 												{ color: var(--red-third); }
.red-third-bg 										{ background: var(--red-third); }
.yellow 													{ color: var(--yellow); }
.yellow-bg 												{ background: var(--yellow); }
.yellow-secondary 								{ color: var(--yellow-secondary); }
.yellow-secondary-bg 							{ background: var(--yellow-secondary); }
.yellow-third 										{ color: var(--yellow-third); }
.yellow-third-bg 									{ background: var(--yellow-third); }
.green 														{ color: var(--green); }
.green-bg 												{ background: var(--green); }
.green-secondary 									{ color: var(--green-secondary); }
.green-secondary-bg 							{ background: var(--green-secondary); }
.green-third 											{ color: var(--green-third); }
.green-third-bg 									{ background: var(--green-third); }

/* Desktop */
@media screen and (max-width: 1200px) {
	:root {
		--inner-grid-width: calc(var(--col)*10 + var(--gutter)*9);
	}

	.header-link {
		font-size: 3rem;
	}

	.topDiv {
		margin: .5rem;
	}

	.tablet-hide {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	:root {
		--inner-grid-width: calc(var(--col)*9 + var(--gutter)*8);
	}
}

@media screen and (max-width: 1000px) {
	:root {
		--inner-grid-width: calc(var(--col)*8 + var(--gutter)*7);
	}

	.row {
		flex-direction: column;
	}
}

/* Tablet */
@media screen and (max-width: 800px) {
	:root {
		--inner-grid-width: calc(var(--col)*6 + var(--gutter)*6);
	}

	.tablet-hide {
		display: none;
	}
}


/* Mobile */

@media screen and (max-width: 600px) {
	:root {
		--inner-grid-width: calc(var(--col)*4 + var(--gutter)*3);
	}

	.header-link {
		font-size: 3rem;
	}
	
	.tablet-hide {
		display: none;
	}

	.mobile-hide {
		display: none;
	}
}