/* PEORIA 04.01.2020 */
/* Diego Palmerin Bonada */

/* Global Variables */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

:root {
	--bg: #ffffff;
	--bg2: #B5B5B5;
	--bg3: #23499FE6 	;
	--font: #000000;
	--accent: #00318A;
	--accent2: #000066;
	--font-face: "Lato", Arial, Helvetica, sans-serif;
}

/* Start of Style Sheet */

* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
	height: 100vh;
}

body {
	background-color: var(--bg2);
	color: var(--font);
	font-family: var(--font-face);
	font-weight: 400;
	font-size: 1rem;
	width: 100%;
}

h1 {
	color: var(--accent);
	font-weight: bold;
	font-size: 5rem;
	margin: 3rem auto;
}

h2 {
	font-size: 2rem;
	margin: auto;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	margin: 1rem auto;
}

h4 {
	font-size: 1rem;
	margin: auto auto auto 15vw;
}

h6 {
	font-size: .8rem;
	margin: auto;
}

a {
	font-weight: bold;
	margin: auto;
	text-decoration: none;
	color: var(--font);
	cursor: pointer;
	outline: 0;
	padding: 0.7rem 0;
}

a:hover {
	color: var(--accent);
}

header {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 5vw;
	background-color: var(--bg);
}

header img {
	height: 6rem;
	margin: 1rem;
}

/* Selection */

::-moz-selection {
	background: var(--bg);
	color: var(--font);
}

:focus {
	background: var(--bg);
	color: var(--font);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #070707;
}

::-webkit-scrollbar-thumb {
	background: #151515;
}

::-webkit-scrollbar-thumb:hover {
	background: #151515;
}

/* Classes */

.line {
	background: var(--font);
	width: 30px;
	height: 3px;
	margin: 7px;
}

.hamburger {
	position: absolute;
	cursor: pointer;
	right: 4rem;
	top: 4rem;
	transform: translateY(-50%);
	height: 2rem;
	width: 3rem;
	z-index: 2;
	background: linear-gradient(to bottom, #000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%);
}

.nav-links.open {
	display: block;
	position: absolute;
	background: var(--bg3);
	z-index: 1;
	transform: scale(1, 1);
}

.nav-links {
	position: fixed;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	transform: scale(0, 0);
	transform-origin: top right;
	padding-inline-start: 0;
	transition: all .2s ease-in;
}

.nav-links li {
	width: 100%;
	list-style: none;
	text-align: center;
    background: linear-gradient(135deg, var(--accent) 50%, transparent 0%);
    background-size: 200% 500%;
    background-position: right bottom;
	transition: all .3s ease-in;
}

.nav-links li:hover {
	background-position: left top;
}

.header-link {
	font-family: 'OktaNeue';
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: var(--font);
	font-size: 5rem;
	outline: 0;
}

.header-link:hover{
	color: var(--bg);
}

.header-link:focus {
	background: transparent;
	border: solid 1px var(--accent);
}

.selected a, .selected:hover{
	background: var(--accent) !important;
	color: var(--bg) !important;
}

.text-primary {
	color: var(--accent2);
	margin: 0;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	justify-items: stretch;
}

.column {
	display: flex;
	flex-direction: column;
	width: 80%;
}

/* Mobile */

@media screen and (max-width: 1100px) {
	.header-link {
		font-size: 3rem;
	}
	
	.topDiv{
		margin: .5rem;
	}
}
