.committee {
    width: 18rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: .2rem;
    background-color: var(--accent2);
    cursor: pointer;
}

.committee h2 {
    font-size: 2rem;
    margin: 5% auto auto auto;
}

.committee h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 auto auto auto;
    width: 80%;
}

.committee-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: auto;
}