@font-face {
	font-family: "OktaNeue";
	src: url("webfonts/3AF2D2_0_0.eot");
	src: url("webfonts/3AF2D2_0_0.eot?#iefix") format("embedded-opentype"),
		url("webfonts/3AF2D2_0_0.woff2") format("woff2"),
		url("webfonts/3AF2D2_0_0.woff") format("woff"),
        url("webfonts/3AF2D2_0_0.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
	font-family: "OktaNeue";
	src: url("webfonts/3AF2D2_1_0.eot");
	src: url("webfonts/3AF2D2_1_0.eot?#iefix") format("embedded-opentype"),
		url("webfonts/3AF2D2_1_0.woff2") format("woff2"),
		url("webfonts/3AF2D2_1_0.woff") format("woff"),
        url("webfonts/3AF2D2_1_0.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Fracktif";
	src: url("webfonts/3AF2D2_2_0.eot");
	src: url("webfonts/3AF2D2_2_0.eot?#iefix") format("embedded-opentype"),
		url("webfonts/3AF2D2_2_0.woff2") format("woff2"),
		url("webfonts/3AF2D2_2_0.woff") format("woff"),
        url("webfonts/3AF2D2_2_0.ttf") format("truetype");
}
